transformers
flash-attn
accelerate
bitsandbytes
huggingface_hub
openai
flask
asyncio
gradio
python-dotenv

# stable diffusion dependencies
diffusers 
scipy 
safetensors

# speech recognition
optimum
datasets[audio]

# mistral api dependencies
mistralai

# GUI
pyqt5
