transformers
flash-attn
accelerate
bitsandbytes
huggingface_hub
openai
flask
asyncio
gradio
python-dotenv

# stable diffusion dependencies
diffusers 
scipy 
safetensors

# mistral api dependencies
mistralai
