# huggingface dependencies
transformers
flash-attn
accelerate
bitsandbytes
huggingface_hub

# openai dependencies
openai
openai-whisper

# stable diffusion dependencies
diffusers 
scipy 
safetensors

# speech recognition
optimum
datasets[audio]

# mistral api dependencies
mistralai

# other dependencies
flask
asyncio
gradio
python-dotenv

